<html>
    <head>
        <title> About Cool Story </title>
    
        <img src="http://i.imgur.com/awyzb.png" align='middle' alt='About' style="margin:auto; display:block;" />
        
        <style>
            body {
              background-color: #80C5E8;
              background-image: url("http://i.imgur.com/dAytb.png");
              background-position: 50% 50%;
              background-repeat: no-repeat;
              background-size: 600%;
            }
            
            p {
                color:white;
                font-size:20;
            }
        </style>
    </head>
    
    <body>
        <div style="position:fixed; bottom:0; right:35%; left:43%">
            <a href='/'>Home</a>
            <a href='/about'>About</a>
            <a href='/contact'>Contact</a>
        </div>
        
        <p>
            Cool Story is an application that determines how cool you are based on your the things you say in your tweets.  We achieve this by taking a training set of 'cool' people in the BCS area and running a KNN classifier over them.
        </p>
        <p>
            This process yields multiple results.  It tells you, first, if you are cool or not.  It then tells you just how cool you are.  It also reveals to you which twitter user is most similar to you.
        </p>
    </body>
</html>
