<html>
    <head>
        <title> Contact </title>
    
        <img src="http://i.imgur.com/MgFl5.png" align='middle' alt='Contact' style="margin:auto; display:block;" />
        
        <style>
            body {
              background-color: #80C5E8;
              background-image: url("http://i.imgur.com/dAytb.png");
              background-position: 50% 50%;
              background-repeat: no-repeat;
              background-size: 600%;
            }
            
            p {
                margin:auto;
                display:block;
                text-align:center;
                color:white;
                font-size:20;
            }
        </style>
    </head>
    
    <body color='white'>
        <div style="position:fixed; bottom:0; right:35%; left:43%">
            <a href='/'>Home</a>
            <a href='/about'>About</a>
            <a href='/contact'>Contact</a>
        </div>
        </br>
        <p>Blake Pavel - blakep2012@gmail.com</p>
        <p> Avid Ghamsari - avid.ghamsari@gmail.com </p>
    </body>
</html>
