<html>
<head>
    <img src="http://i.imgur.com/N7vsP.png" align='middle' alt='Logo' style="margin:auto; display:block;" />
    <style>
        body {
          background-color: #80C5E8;
          background-image: url("http://i.imgur.com/dAytb.png");
          background-position: 50% 50%;
          background-repeat: no-repeat;
          background-size: 600%;
        }
    </style>
</head>
  <body link='#7272E5' >
      <div>
      <a href="/signin"><img alt="Sign in with Twitter" src="https://si0.twimg.com/images/dev/buttons/sign-in-with-twitter-l.png" style="margin:auto; display:block;"/></a>
      <div>
      
      <div style="position:fixed; bottom:0; right:35%; left:43%">
        <a href='/'>Home</a>
        <a href='/about'>About</a>
        <a href='/contact'>Contact</a>
      </div>
  </body>
</html>
