<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html lang="en">
<head>
    <title> Results </title>
    
        <img src="http://i.imgur.com/awyzb.png" align='middle' alt='About' style="margin:auto; display:block;" />
    <style>
        body {
              background-color: #80C5E8;
              background-image: url("http://i.imgur.com/dAytb.png");
              background-position: 50% 50%;
              background-repeat: no-repeat;
              background-size: 600%;
            }
            
        p {
            color:white;
            font-size:20;
        }
    </style>
</head>
<body>
        <div style="position:fixed; bottom:0; right:35%; left:43%">
            <a href='/'>Home</a>
            <a href='/about'>About</a>
            <a href='/contact'>Contact</a>
        </div>
        
    <div id='num'>
        <p> Percentage of cool: {{num}} </p>
    </div>
    <div id='status'>
        <p> Cool? {{status}} </p>
    </div>
    <div id='closestUser'>
        <p> Who was closest to you? {{closestUser}} </p>
    </div>
</body>
</html>
